body{
	font-family:'微軟正黑體';
    background: url(../img/banner.jpg) no-repeat center center;
	background-size:cover;
}
.login{
    width: 700px;
    height: 500px;
    margin: 23px auto;
    background-color: #FFF;
	border-radius:30px;
}
.login_logo{
      text-align: center;
    padding-top: 25px;
    padding-bottom: 11px;
    margin: 0 auto;
    width: 350px;
    border-bottom: 1px solid #c3c3c3;
    line-height: 35px;
    color: #365054;
}
.login_logo img{
      width: 100px;
}
.register{
     height: 553px;
}
.check{
      text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-top: 8px;
    line-height: 30px;
    color: red;
}
.form_set{
      width: 350px;
    margin: 0 auto;
}
.form_set input{
    width: 81%;
    padding: 10px;
    font-size: 14px;
    color: #464646;
    margin-top: 8px;
     border: 1px solid #717171;
}
.form_set .mail{
      background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 53px;
}
.form_set .pws{
      background-image: url(../img/unlocked.png);
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 53px;
}
.form_set .profile{
      background-image: url(../img/profile.png);
    background-repeat: no-repeat;
    background-position: 5px;
    padding-left: 53px;
}
.form_set .checkbox_1{
      width: 15px;
    float: left;
}
.form_set input[type="submit"]{
      width: 100%;
    border: 0;
}
.form_set .confom{
      font-size: 12px;
}

.login_bottom{
      width: 350px;
     margin: 5px auto;
}
.login_bottom .lo_left{
	float:left;
}
.login_bottom .lo_right{
	float:right;
}
.login_bottom a{
      color: #00a9d9;
    font-size: 15px;
     font-weight: bold;
}
footer{
      width: 700px;
    margin: 0 auto;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
	color:#FFF;
}
footer a{
     font-weight: bold;
    color: #FFF;
	text-decoration:none;
}