
@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf'); 
}


body{
	font-family:'微軟正黑體', Lato-Bold;
}
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}
/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  -moz-transition: all 0.1s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	/*outline: none;*/
	/*border: none !important;*/
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.top_menu{
    font-family: '微軟正黑體', Lato-Bold;
	height: 60px;
	background: #FFF;
	border-bottom:3px solid #73c4a8;
}
.m_logo{
	float:left;
      width: 83px;
    text-align: center;
	margin:15px 0 0 10px;
}
.m_logo img{
      width: 180px;
}
.left_menu{
	display:inline-block;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	text-align: center;
}
.left_menu ul{
	margin:0;
}
.left_menu li{
	display:inline-block;
	height:60px;
    padding: 0 15px;
	margin:0 10px;
    list-style: none;
    /* background-color: #fff; */
    font-size: 17px;
	line-height:60px;
    color: #FFF;
	letter-spacing:1px;
}
.left_menu a{
    color: #111;
}
.left_menu li:hover{
      background-color: #73c4a8;
	  
}
.left_menu li:hover a{color:#FFF;}



.right_menu{
	float:right;
	text-align: center;
}
.right_menu ul{
	margin:0;
}
.right_menu li{
      padding: 19px 8px;
    list-style: none;
    float: left;
    width: 89px;
    /* background-color: #fff; */
    font-size: 15px;
    color: #FFF;
}
.right_menu li.lag{
      padding: 18px 0px;
    width: 41px;
}
.right_menu li.reg{
      padding: 19px 0px;
    width: 100px;
}
.right_menu a{
    color: #333;
}
.right_menu li:hover{
      background-color: #73c4a8;
	 
}
.right_menu li:hover a{ color:#FFF;}
.announcement{
      color: #555;
      width: 100%;
	  height:60px;
	  margin:-60px 0 0 0;
     background: rgba(0,0,0,0.6);
    text-align: center;
    padding: 0;
    font-size: 15px;
	line-height:60px;
    font-family: '微軟正黑體', Lato-Bold;
	position:relative;
	z-index:99;
}
.announcement a{
      color: #FFF;
    font-weight: bold;
    padding: 0 25px;
}
.coin_info{
	margin:50px 0 80px 0;
}
.coin_info .h_center{
	width:90%;
	max-width:1300px;
	margin:0 auto;
}
.top_news{
      width: 100%;
    height: 500px;
    background: url(../img/banner.jpg) no-repeat center center;
	background-size: cover;
	overflow:hidden;
	position:relative;
}
.top_news h1{ display:block; width:100%; text-align:center; color:#FFF; position:absolute; top:100px; z-index:9; letter-spacing:1px;}
.top_news h1 strong{ display:inline-block; color:#FFF; vertical-align: middle;}
.top_news h1 span{ display:inline-block; color:#efc82c; font-size:22px; vertical-align: middle; font-weight: normal;}
.top_news ul{ display:block; width:100%; text-align:center; position:absolute; top:180px; z-index:10; letter-spacing:-4px;}
.top_news ul li{ display:inline-block; width:280px; height:130px; background:#FFF;}
.top_news .mask{ display:block; width:100%; height:100%; position:absolute; background:#021324; opacity:0.6; z-index:8;}
.index-video{ width:100%; position:absolute; top:50%; transform:translateY(-50%); opacity:0.7;}
.top_news_other{
    font-family: '微軟正黑體', Lato-Bold;
      width: 100%;
    height: 200px;
    background: url(../img/banner2.jpg) no-repeat center 60%;
	background-size: cover;
    text-align: center;
    padding: 78px 0 150px 0;
    font-size: 32px;
    color: #FFF;
}
.top_about_other{
      width: 100%;
    background: url(../img/banner.jpg) no-repeat center center;
	background-size:cover;
    text-align: center;
    padding-top: 78px;
    font-size: 24px;
    color: #FFF;
}
footer{
      font-family: '微軟正黑體', Lato-Bold;
    width: 100%;
     height: 96px;
    background: #072045;
	color:#FFF;
}
.ch_cen{
      width: 70%;
    margin: 0 auto;
}
.ch_cen a{
      padding-left: 12px;
    color: #bbb;
}
.ch_cen .ch_cen_left{
      padding: 25px;
    font-size: 13px;
    text-align: center;
}
.ch_cen .ch_cen_left2{
    height: 20px;
    font-size: 13px;
    text-align: center;
	letter-spacing:3px;
}
.cen_bottom{
	width:100%;
	padding:50px 0 80px 0;
	overflow:hidden;
	background: #f1f1f1;
}
.cen_bottom .infos{
      font-family: '微軟正黑體', Lato-Bold;
      width: 21%;
    height: 300px;
    display: block;
    margin: 0 2%;
    text-align: -webkit-center;
	 float:left;
}
.cen_bottom .infos img{ width:40%;}

.info_detail{
   font-family: '微軟正黑體', Lato-Bold;
    width: 60%;
    margin: 20px auto;
}

.info_detail_top{
      height: 44px;
    text-align: right;
}
.info_detail_bottom{
      width: 100%;
     border: 1px solid #f5f5f5;
    border-radius: 4px;
}
#money_cate{
      padding: 5px 11px;
    border-radius: 3px;
    border: 1px solid #adadad;
}
.info_detail_b1{
	width:100%;
}
.coin_imguse div{
      float:left
}
.info_detail_b1 td{
	padding:7px;
}
.info_detail_b1 td.info_detail_b1_td1{
      padding: 57px 79px 23px;
}
.coin_imguse .name_tial{
      padding: 27px 44px;
}
.coin_imguse .main_name{
      display: block;
    font-size: 29px;
}
.coin_imguse .o_name{
      color: #c1c1c1;
}
.coin_imguse .price_tial{
      padding: 37px 75px;
}
.coin_imguse .price_1{
      font-size: 17px;
    color: #8e8e8e;
    border-bottom: 1px solid #bfbfbf;
    width: 55%;
    display: block;
}
.coin_imguse .price_2{
    font-size: 21px;
    font-weight: bold;
}
.coin_imguse .price_2_s{
      font-size: 13px;
    font-weight: bold;
    color: #dedede;
}
.coin_imguse .price_3{
      display: block;
    font-size: 12px;
    color: #64c175;
    text-align: right;
    font-weight: bold;
}
.coin_imguse .coin_tial{
      padding: 34px 41px;
    width: 320px;
    float: right;
    text-align: right;
}
.coin_imguse .coin_tial_1{
      display: block;
    font-size: 11px;
    color: #797979;
    font-weight: bold;
}
.info_detail_bottom_tr2 {
	text-align:center;
}
.info_detail_bottom_tr2 .price2_set{
      text-align: center;
    font-size: 14px;
    color: #a2a2a2;
    font-weight: bold;
	display:block;
}

.info_detail_bottom_tr2 .price2_set_math{
      font-size: 15px;
    color: #656565;
    line-height: 39px;
}
.info_detail_info{
      padding: 14px 31px;
}
.info_detail_info p{
      font-size: 13px;
    line-height: 21px;
    margin-top: 7px;
}
.info_detail_info span{
      font-size: 25px;
    color: #888;
    font-weight: bold;
}
.about_1{
      padding-top: 36px;
    padding-bottom: 36px;
    font-size: 32px;
	font-weight: bold;
}
.about_2:first-letter{
font-size : 200%;
font-weight : bold;
float : left;
margin-right: 3px;
}


.about3{
      width: 70%;
    margin: 28px auto 0;
     height: 462px;
}

.about3 .about3_p{
      width: 58%;
    float: left;
}
.about3 .about3_img{
      width: 42%;
    float: right;
}
.about3 .title_1{
      display: block;
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
}
.about3 p{
      font-size: 14px;
    padding: 0 22px;
    line-height: 25px;
    color: #949494;
}
.service_use{
	width:50%;
	margin:30px auto;
}
.service_use .service_title{
      font-size: 31px;
    line-height: 66px;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 23px;
    width: 80%;
}

.service_use .service_title_main{
      padding: 9px 1px;
    color: #3e3e3e;
    font-weight: bold;
}
.service_use .service_title_tial{
      font-size: 13px;
    line-height: 27px;
    color: #a7a7a7;
}
.service_use .fee_title_main{
      padding: 9px 1px;
    color: #3e3e3e;
    font-weight: bold;
    border-left: 2px solid #228bb8;
    padding-left: 23px;
}

.service_use .fee_title_main_ul li{
      margin: 8px 28px;
    list-style: circle;
    color: #7b7b7b;
    font-size: 15px;
}

.service_use .fee_table{
      margin-top: 15px;
    text-align: center;
    font-size: 13px;
     border: 1px solid #eaeaea;
}

.service_use .fee_table tr:first-child{
      background-color: #c1c1c1;
    color: #FFF;
    font-weight: bold;
}
.service_use .fee_table td{
	padding:4px;
}
.service_use .fee_table img{
      vertical-align: middle;
    height: 16px;
    margin: -4px 6px 0 0;
}
.contract_1{
      width: 70%;
    margin: 31px auto;
    text-align: center;
}
.contract_1_1{
	width:70%;
	margin:0 auto;
}
.contract_1_2 ul {
    display: block;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
     width:100%;
}
.contract_1_2 li{
    display: block;
    float: left;
    width: 150px;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 18px 0 48px 0;
    text-align: center;
}
.contract_1_2 li a {
    display: block;
    font-size: 14px;
    color: #333;
    line-height: 24px;
    padding-top: 78px;
    background: url(../img/links-ico.png) no-repeat center top;
}
.contract_1_2 ul li.links1 a {
    background-position: 16px 0;
}
.contract_1_2 ul li.links2 a {
    background-position: -104px 0;
}
.contract_1_2 ul li.links3 a {
    background-position: -226px 0;
}
.contract_1_2 ul li.links4 a {
    background-position: -345px 0;
}
.contract_1_2 ul li.links5 a {
    background-position: -466px 0;
}
.contract_1_2 ul li.links6 a {
    background-position: -584px 0;
}
.contract_1_2 ul li.links7 a {
    background-position: -706px 0;
}
.contract_1_2 ul li.links8 a {
    background-position: -825px 0;
}
.contract_1_2 ul li span{
      font-size: 13px;
    color: #b86822;
}
.contract_1_3{
      width: 70%;
    margin: 20px auto;
    padding-top: 85px;
    padding-bottom: 84px;
    text-align: center;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.contract_1_3 a{
      font-size: 15px;
    padding: 5px;
    color: #b88422;
    font-weight: bold;
}
.help{
      width: 70%;
    margin: 20px auto;
}
.help_1{
      height: 128px;
    margin-top: 51px;
}
.help_b{
      font-family: '微軟正黑體', Lato-Bold;
      margin: 37px auto;
     width: 50%;
}
.help_b .help_new{
      margin: 37px auto;
}
.help_b .title{
      margin: 37px auto;
    font-size: 22px;
    text-align: center;
}
.help_b .list_set li{
      padding: 9px;
     border-bottom: 1px solid #dadada;
}
.help_b .list_set .he_li_1{
      font-size: 18px;
    display: block;
}
.help_b .list_set .he_li_1_tial{
      font-size: 13px;
    color: #b5b5b5;
}
.help_b .list_set .he_li_2{
      float: right;
}
.help_b .list_set a:hover{
      text-decoration: underline;
}
.help_b .list_set_bottom{
      margin-top: 8px;
     text-align: right;
}
.help_b .list_set_bottom a{
    padding: 10px;
    font-weight: bold;
}






.help_1_left{
      float: left;
    width: 50%;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 21px;
     border-right: 1px solid #d4d4d4;
}
.help_1_right{
	float:right;
	width:50%;
	text-align:center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 21px;
}

.header{
    margin: 0 auto;
}
.cen_bottom .header{
      width: 90%;
	  max-width:1200px;
    margin: 28px auto 0 auto;
}
.cen_about .header{
      width: 90%;
	  max-width:1300px;
    margin: 28px auto 0;
}
.cen_about{
      margin-top: 15px;
    height: 361px;
}
.cen_about .about_left{
      width: 30%;
    float: left;
    text-align: center;
    padding: 72px;
}
.cen_about .about_right{
      width: 70%;
    float: right;
    padding: 63px;
    font-size: 15px;
    line-height: 30px;
}
.cen_bottom .infos .fors{
      margin-top: 30px;
    margin-bottom: 9px;
    font-size: 22px;
    font-weight: bold;
	color: #002870;
}
.cen_bottom .infos .de{
      font-size: 13px;
    color: #555;
    line-height: 28px;
}
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 5px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}
.login{
    width: 518px;
    padding: 30px 30px 40px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 55%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%,0);
    margin-top: -41px;
}
}

.table100 {
  background-color: #fff;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column0 { width: 5%; padding-left: 32px; }
.column1 { width: 13%; padding-left: 32px; }
.column2 { width: 14%; }
.column3 { width: 18%; }
.column4 { width: 12%; }
.column5 { width: 14%; }
.column6 { width: 25%; text-align:center; }

.table100.ver3 .column6{
	background-color:#FFF;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border: none;
	overflow:hidden;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}
.table100.ver3 tr.row100.head{ background:#FFF;}
.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

.table100 {
  position: relative;
}

.table100-head {
  width: 100%;
}

.table100-body {
  max-height: 730px;
  overflow: auto;
}

.table100.ver3 th {
  font-family: Lato-Bold;
  font-size: 15px;
  color: #73c4a8;
  line-height: 1.4;
  text-transform: uppercase;
  background-color: #393939;
}

.table100.ver3 tr {
  font-size: 14px;
  background-color: #222222;
  color: #BBB;
     cursor: pointer;
}
.table100.ver3 tr:hover{
      background-color: #2b2b2b;
    color: #FFF;
}
.table100.ver3 td {
  font-family: Lato-Regular;
  line-height: 1.4;
  border-bottom:1px solid #333;
}
.table100.ver3 {
  overflow: hidden;
}

.table100.ver3 .ps__rail-y {
  right: 5px;
}

.table100.ver3 .ps__rail-y::before {
  background-color: #4e4e4e;
}

.table100.ver3 .ps__rail-y .ps__thumb-y::before {
  background-color: #888;
}