.user_index{
      height: 150px;
    padding-top: 56px;
}
.user_use{
	font-family:'微軟正黑體', Lato-Bold;
      width: 1200px;
     margin: 20px auto;
}
.user_use .mar25{
    padding-top: 25px;
    padding-bottom: 25px;
}
.user_top{
	width:100%;
	height:172px;
     border: 1px solid #d2d2d2;
     margin-bottom: 11px;
}
.user_top .f_left{
     float: left;
    width: 172px;
     text-align: center;
}
.user_top .f_right{
    float: left;
    width: 400px;
}
.user_top .f_right div{
     margin-top: 5px;
}
.user_top .f_right .account{
      font-size: 17px;
    font-weight: bold;
}
.user_top .f_right .acc_time{
      font-size: 13px;
    color: #696969;
     margin-top: 28px;
}
.user_top .f_right .level{
      color: #ffaa65;
    font-size: 15px;
}
.user_top .f_right .level .identity{
      color: #FFF;
    background-color: #969696;
    padding: 2px;
    border-radius: 4px;
     font-size: 11px;
}
.user_top .f_right .bdb50{
      
}
.user_top .f_right .bdb50 input[type="checkbox"]{
    display: initial;
}
.user_top .f_right_2{
      width: 600px;
    float: left;
}
.user_top .f_right_2 li{
      float: left;
    width: 200px;
    text-align: center;
    font-size: 13px;
    line-height: 27px;
}
.user_top .f_right_2 b{
    font-size: 16px;
}
.user_top .dm{
	margin-top:5px;
	margin-bottom:5px;
}
.user_top .f_right_2 ul{
      margin-top: 12px;
}
.user_two{
      height: 430px;
}
.user_two .user_two_left{
	float:left;
	width:49%;
}
.user_two .user_two_right{
	float:right;
	width:49%;
}
.user_two .divset1{
      width: 100%;
    padding: 15px;
    height: 69px;
    border: 1px solid #d2d2d2;
    margin-bottom: 11px;
}
.user_two .icon_img{
      width: 37px;
    float: left;
}
.user_two .textset{
      float: left;
    margin-left: 14px;
    font-size: 14px;
    font-weight: bold;
     width: 377px;
}
.user_two .apiset{
      height: 154px;
}
.user_two .apiset .icon_img{
      margin-top: 45px;
}
.user_two .apiset .right_a{
      margin-top: 14px;
}
.user_two .textset p{
      font-size: 11px;
     color: #adadad;
}
.user_two .right_a{
      float: right;
    background-color: #67c2e1;
    padding: 6px 32px;
    color: #FFF;
    font-weight: bold;
}
.user_two .user_two_right .right_1{
      height: 314px;
}
.user_two .user_two_right .area_1{
      display: inline-block;
}
.user_two .user_two_right .two_line{
      width: 95%;
    border-bottom: 1px solid #d3d2d2;
    margin: 13px auto;
}
.user_two .user_two_right .cell_mar{
	margin-top:25px;
	margin-bottom:25px;
}
.user_two .apiset .marset{
      margin-top: 40px;
}
.user_two .apiset .marset2{
      margin-top: 30px;
}
.user_3{
	width:100%;
}
.user_3 table{
      width: 100%;
    font-size: 13px;
	text-align:center;
}
.user_3 tr:first-child{
      background-color: #797979;
    color: #FFF;
}
.user_3 tr{
      border: 1px solid #d3d2d2;
}
.user_3 td{
	padding:7px;
}
.user_3 a{
      color: #f11;
    font-weight: bold;
    text-decoration: underline;
}
.cell_set{
      width: 900px;
    /* height: 369px;*/
    margin: 15px auto;
    border: 1px solid #228bb8;
}
.cell_set .title{
    width: 100%;
    padding: 12px;
    color: #FFF;
    font-weight: bold;
   background-color: #228bb8;
}
.cell_set .sub_info{
	
}
.cell_set .sub_info table{
      width: 60%;
    margin: 20px auto;
    font-weight: bold;
}
.cell_set .sub_info table td:first-child{
	width:100px;
	text-align:center;
}
.cell_set .sub_info table td{
     padding: 9px;
}
.cell_set .sub_info .seone{
      padding: 6px 17px;
    border-radius: 4px;
    width: 90%;
    font-size: 14px;
}
.cell_set .sub_info .area{
      padding: 6px 17px;
    border-radius: 4px;
     width: 19%;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ababab;
}
.cell_set .sub_info .cell_number{
      padding: 6px 17px;
    border-radius: 4px;
    width: 50%;
    text-align: right;
    font-size: 14px;
    border: 1px solid #ababab;
}
.cell_set .sub_info input[type="submit"]{
      width: 87%;
    margin: 0 auto;
    background-color: #228bb8;
    border: 0;
    color: #FFF;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}
.cell_set .sub_info .show_number_td{
     padding: 19px;
}
.cell_set .sub_info .show_number{
      color: #309a2f;
    font-size: 15px;
}
.cell_set .sub_info .google_2fa_1{
      width: 85%;
     margin: 20px auto 0;
    font-size: 15px;
    padding-bottom: 12px;
    padding-left: 28px;
    border-bottom: 1px solid #b9b9b9;
}

.cell_set .sub_info .google_2fa_c1{
      width: 85%;
     margin: 0 auto 13px;
     text-align: center;
}
.cell_set .sub_info .google_2fa_1 span{
      display: block;
    font-size: 11px;
    color: #b1b1b1;
}
.cell_set .sub_info .google_2fa_c1 table{
	width:100%;
	margin:0 auto;
}
.cell_set .sub_info .google_2fa_c1 td:first-child{
      width: 25%;
}
.cell_set .sub_info .google_2fa_c1 td{
      width: 25%;
    font-size: 13px;
    font-weight: 500;
}
.cell_set .sub_info .google_2fa_c1 button{
      background-color: #b84a22;
    padding: 4px 21px;
    font-size: 15px;
    color: #FFF;
}
.cell_set .sub_info .google_2fa_c1 input[type="text"]{
      width: 127px;
    border-radius: 4px;
    padding: 7px;
    font-size: 15px;
    border: 1px solid #dadada;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}
.cell_set .sub_info .google_2fa_c1 .ver{
	width:150px;
}
.cell_set .sub_info .google_2fa_c1 .red_focus{
	color:red;
     font-weight: bold;
}
